<header id="foundry-header">
  <div class="menu-button icon active"></div>
  <div class="logo small">
    <span class="text">Foundry</span>
  </div>
  
  
  
   <!-- if in author view show the back button on left and foundry tour and start/end button on right --> 
   <% if in_author_view %> 
	     <div class="span3 ft-buttons" id="ft-buttons-left" style="position:absolute;left:150px;top:12px;">
	       <input type="button" class="btn btn-default" id="backBtn" value="Back" onclick="window.location='<%=flash_teams_path%>';"/>
	  	</div>
	     
	     <div class="span2 ft-buttons" id="ft-buttons-right" style="width:auto;position:absolute;right:12px;top:12px;">

	     <%if @original_or_branch == "original" %>
	     	<%= link_to "Branch Team", {action: "branch", id: @flash_team.id}, :class => 'btn btn-primary' %>
	     <%else%>
	     	<%= link_to "View Master", {action: "edit", id: @origin_id}, :class => 'btn btn-primary' %>
	     <%end%>
	     	
	     	<input type="button" class="btn btn-primary" id="flashTeamJSONBtn" value="Show JSON"  style="display: ''" onclick="showJSONModal('[<%=@flash_team.id.to_s + "," + @origin_id.to_s%>]');"/>

	     	<input type="button" class="btn btn-primary" id="JSONDiffBtn" value="Show Diffs"  style="display: ''" onclick="showTasksDiffs();"/>

		     <input type="button" class="btn btn-default" id="vcBtn" value="Join Video Call" style="display: ''" onclick="createVideoConf('<%=@flash_team.name + "_" + @flash_team.id.to_s%>');"/>
	      
	       <input type="button" class="btn btn-default" id="tourBtn" value="Start Foundry Author Tour"/>
	       <input type="button" class="btn btn-success" id="flashTeamStartBtn" value="Start Team"/>
	       <input type="button" class="btn btn-danger" id="flashTeamEndBtn" value="End Team" style="display: none"/>
	       <input type="button" class="btn btn-info" id="workerEditTeamBtn" value="Request Change"  style="display: none"/>
	        <input type="button" class="btn btn-primary" id="flashTeamPauseBtn" value="Edit"  style="display: none"/>
	        <input type="button" class="btn btn-primary" id="flashTeamResumeBtn" value="Save" style="display: none"/>
	     </div> 
     
     <% else %> <!-- else only show the start foundry tour button --> 
	     <div class="span2 ft-buttons" id="ft-buttons-right" style="width:auto;position:absolute;right:12px;top:12px;">
	       <input type="button" class="btn btn-default" id="vcBtn" value="Join Video Call" style="display: ''" onclick="createVideoConf('<%=@flash_team.name + "_" + @flash_team.id.to_s%>');"/> 
	       <input type="button" class="btn btn-default" id="expertTourBtn" value="Start Foundry Worker Tour"/>
	       <input type="button" class="btn btn-info" id="workerEditTeamBtn" value="Request Change"  style="display: none"/>
	     
	       <% if @member_type == 'pc' || @member_type == 'client' %>
		   		<input type="button" class="btn btn-info" id="workerEditTeamBtn" value="Request Change"  style="display: none"/>
				<input type="button" class="btn btn-primary" id="flashTeamPauseBtn" value="Edit"  style="display: none"/>
				<input type="button" class="btn btn-primary" id="flashTeamResumeBtn" value="Save" style="display: none"/>
   		<% end %>


	     </div> 
     
   <% end %>


</header>
