<div id="left-sidebar" class="sidebar active">
  <div class="inner" style="height:100%;overflow-y:scroll;">
    <h4 class="project-name">
      <span id="ft-name" class="text"><%= flash_team.name %></span>
      <span id="ft-author-name" style="display:none"><%= flash_team.author%></span>
      <!-- Button to trigger modal -->
      <a href="#projectOverviewModal" data-toggle="modal" style="font-size: 24px; padding-left: 5px;">
        <i class="info-sign" onclick="logSidebarClick('project-overview-info-sign')" style="vertical-align: middle;"></i>
      </a>
    </h4>
    <%= render :partial => "project_overview_modal" %>

    

    <% if in_author_view %>
      <div id="project-status-container" class="sidebar-item active">
        <!-- Render project status container --> 
        <%= render :partial => "project_status" %>                 
      </div>

      <div id="member-container" class="sidebar-item" onclick="logSidebarClick('member-container')" style="overflow-y:scroll;">
        <!-- Render member roles container --> 
        <%= render :partial => "roles" %>    
      </div>

      <div id="project-overview-container" class="sidebar-item" onclick="logSidebarClick('project-overview-container')" style="overflow-y:scroll;">
        <!-- Render project overview container --> 
        <%= render :partial => "project_overview" %> 
      </div>          
    <% end %> <!-- end author view conditional -->

    <% if in_expert_view %>
      <div class="welcome">
        <h4><b>Welcome <%= @user_name %>!</b>
        <br /> Your role: <span id="member_role_span"><%= @member_role %></span></h4>
      </div>
    
      <div id="project-status-container" class="sidebar-item active" onclick="logSidebarClick('project-status-container')">
        <!-- Render project status container --> 
        <%= render :partial => "project_status" %>
        <div id="status-bar-container" >
          <!-- <h4> Your Task Is </h4> -->
        </div>
      </div> <!-- end of project-status-container div -->

      <div id="project-overview-container" class="sidebar-item" onclick="logSidebarClick('project-overview-container')">
        <!-- Render project overview container --> 
        <%= render :partial => "project_overview" %> 
      </div>

      <% if @member_type == "pc" || @member_type == "client" %>
        <div id="member-container" class="sidebar-item" style="overflow-y:scroll;" onclick="logSidebarClick('member-container')">
      <% else %>
        <!--Need to include the div for worker (e.g., display none) because we display it via javascript if member role changes -->
        <div id="member-container" class="sidebar-item" onclick="logSidebarClick('member-container')" style="overflow-y:scroll; display: none;">
      <% end %>
        <!-- Render member roles container --> 
        <%= render :partial => "roles" %> 
      </div>
    
      
    
    <% end %>
  </div>
</div>