<div id="left-sidebar" class="sidebar active">
  <div class="inner" style="height:100%;overflow-y:scroll;">
    <h4 class="project-name">
      <span id="ft-name" class="text"><%= flash_team.name %></span>
      <!-- Button to trigger modal -->
      <a href="#projectOverviewModal" data-toggle="modal" style="font-size: 24px; padding-left: 5px;">
        <i class="info-sign" style="vertical-align: middle;"></i>
      </a>
    </h4>
    <%= render :partial => "project_overview_modal" %>

    <% if in_author_view %>
      <div id="project-status-container" class="sidebar-item active" <% unless author_runtime %>style="display:none"<% end %>>
        <!-- Render project status container --> 
        <%= render :partial => "project_status" %>                 
      </div>

      <div id="member-container" class="sidebar-item" style="overflow-y:scroll;">
        <!-- Render member roles container --> 
        <%= render :partial => "roles" %>    
      </div>

      <div id="project-overview-container" class="sidebar-item" style="overflow-y:scroll;">
        <!-- Render project overview container --> 
        <%= render :partial => "project_overview" %> 
      </div>
    
      <% unless author_runtime %>
        
        <!--Add a file picker for the user to start the upload process -->
        <!--
        <input type="file" id="filePicker" />
        <input type="button" id="authorizeButton" style="display: none" value="Authorize" />
        -->	
        <div id="search-events-container" class="sidebar-item">
          <!-- render partial with event library --> 
          <%= render :partial => "event_library" %>
        </div>
    
      <% end %> <!-- end if in author runtime conditional --> 
          
    <% end %> <!-- end author view conditional -->

    <% if in_expert_view %>
      <div class="welcome">
        <h4><b>Welcome <%= @user_name %>!</b>
        <br /> Your role: <%= @member_role %></h4>
      </div>
    
      <div id="project-status-container" class="sidebar-item active">
        <!-- Render project status container --> 
        <%= render :partial => "project_status" %>
        <div id="status-bar-container" >
          <!-- <h4> Your Task Is </h4> -->
        </div>
      </div> <!-- end of project-status-container div -->

      <div id="project-overview-container" class="sidebar-item">
        <!-- Render project overview container --> 
        <%= render :partial => "project_overview" %> 
      </div>

      <% if @member_type == "pc" || @member_type == "client" %>
      <div id="member-container" class="well" style="overflow-y:scroll;">
        <!-- Render member roles container --> 
        <%= render :partial => "roles" %> 
      </div>
    
      <% end %>
    
    <% end %>
  </div>
</div>