<div class="row-fluid">
	
	<h3><i class="fa fa-angle-right"></i> Task Available Email</h3>
          	
  	<!-- INPUT MESSAGES -->
  	<div class="row-fluid">
  		<div id="email-form-div" class="form-panel span12">
  			<!-- <div class="form-panel"> -->
  			<div>
		  	  	<div class="row-fluid">
		  	  		<div class="span7">
		  	  			<p style="font-size:18px;"><i class="fa fa-angle-right"></i> Starter Task Information! </p>
					</div>
				</div> <!-- end div class row -->
				
				<div class="row-fluid span11">
					<p>This is an email from the Stanford HCI Group regarding your interest in joining our  <%=@task_member%> panel. We are excited to hear you are interested in working with us!</p>
						
						<p><b>Project overview:</b> <%= raw @project_overview %></p>
						<p><b>Task description:</b> <%= raw @task_description %></p>
						
						<p>
							<b>Input(s):</b> For this task, you will receive the following input(s): <%=@all_inputs%>. 
						
						<%if !@input_link.empty?%>
							You can access the input(s) at the following link: <a href="<%=@input_link%>"><%=@input_link%></a>
						</p>
						<%end%>
						
						<p><b>Deliverable(s):</b> <%=@outputs%></p>
						
						<%if !@output_description.empty?%>
						<p><b>Deliverable information:</b> <%=@output_description%></p>
						<%end%>
						
						<p><b>Deadline:</b>You will have <%=@task_duration%> to finish this task </p>
						
						<%if !@compensation_info.empty?%>
						<p><b>Compensation Information:</b> <%=@compensation_info%></p>
						<%end%>
						
						<p> To complete the starter task, click on the following URL. On clicking this URL, you will be redirected to a page with information about the task. You should then click on 'Accept' and confirm your email address (make sure to use the same email address), which will grant you access to the <%=@task_name%> task on Foundry. Further, you must confirm that you have started working by accepting the contract on Upwork and signing in to Foundry via the link sent to you via email. </p>
							<p>URL placeholder (URL will be generated once this form is submitted) </p>
							
							<p><p> URL: <%=link_to "I accept", @url%>. </p>
						<p>
							Best, <br />
							Stanford HCI Research Team
						</p>
					
				</div>
	
          	  
			</div><!-- /form-panel -->
		</div><!-- /span7 -->
  		  			
  	</div><!-- /row -->
</div>