<html lang="en">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		
		
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
            
            	<li><%=link_to "[Back to Foundry]", edit_flash_team_path%></li>
                
                <li style="color: white;">Project: <%=@flash_team_json["title"]%></li>
				<li style="color: white;">Task Title: <%=@flash_team_event["title"]%></li>
                
                <li class="sidebar-brand" >
                	<%link_to "Task Portal", task_portal_flash_team_path%>		
                </li>
                
                <li class="sidebar-brand" >
                	<%= link_to "Panels", controller: "flash_teams", action: "panels"%>
                		
                </li>

               <li>
                    <a href="#" data-toggle="collapse" data-target="#hiring"><i class="fa fa-fw fa-arrows-v"></i> Hiring Emails <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="hiring" class="collapse in" style="">
                        <li>
                            <%=link_to "Task Available", controller: "flash_teams", action: "hire_form"%> 
                        </li>
                        <li>
                            <%=link_to "Task Acceptance", controller: "flash_teams", action: "task_acceptance"%>
                        </li>
                        <li>
                            <%=link_to "Task Unavailable", controller: "flash_teams", action: "task_rejection"%>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a href="#" data-toggle="collapse" data-target="#tasks"><i class="fa fa-fw fa-arrows-v"></i> All Tasks <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="tasks" class="collapse in" style="">
                        <%i = 0%>
						<%@flash_team_json['events'].each do |event|%>
							<%=link_to event["title"], :controller => "flash_teams", :action => "hire_form", :event_id => i %>
							<%i+= 1%>
						<% end %>
                    </ul>
                </li>
           
<!--
				<p class="sidebar-brand"><a href="#" data-toggle="collapse" data-target="#taskinfo2" style="color: white; text-decoration: none;">
                 <i class="fa fa-fw fa-arrows-v"></i> Task Information <i class="fa fa-fw fa-caret-down"></i></a></p>
                 <div id="taskinfo2" class="collapse in" style="margin-left: 25px; color: white; text-decoration:none">
					 <p>Project: <%@flash_team_json["title"]%></p>
					 <p>Task Title: <%@flash_team_event["title"]%></p>
					 <p>Project Description: <%@flash_team_json["projectoverview"]%> </p>
						
					 <p>Task Description: <%@flash_team_event["description"]%> </p>
						
					 <p>Task Duration: <%@flash_team_event["duration"]%> minutes </p>
						
					 <p>Task Start Hour: <%@flash_team_event["startHr"]%></p>
					 <p>Task Start Min: <%@flash_team_event["startMin"]%></p>
					
					 <p>Task Inputs: <%@flash_team_event["inputs"]%></p>
					 <p>Task Outputs: <%@flash_team_event["outputs"]%></p>
					
					 <p>Task Members: <br />
					 
					 <ul>
					 <%@flash_team_event['members'].each do |tm|%>
					 		<%task_member = getMemberById(@id_team, @id_task, tm)%>
					 		<li><%task_member['role']%></li>
					 <%end%>
					 </ul></p>

				</div>
-->
				
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->