<div class="row-fluid">
	
	<h3><i class="fa fa-angle-right"></i> Hiring Emails</h3>
          	
  	<!-- INPUT MESSAGES -->
  	<div class="row-fluid">
  		<div id="email-form-div" class="form-panel span12">
  			<!-- <div class="form-panel"> -->
  			<div>
		  	  	<div class="row-fluid">
		  	  		<div class="span7">
		  	  			<p style="font-size:18px;"><i class="fa fa-angle-right"></i> Task Available Email Sent!</p>
					</div>
				</div> <!-- end div class row -->
				
				<div class="row-fluid span11">
					<p>This is an email from the Stanford HCI Group notifying you that a job requiring a <%=@task_member%> for the <%=@task_name%> task for the <%=@flash_team_name%> project has become available. Please take a look at the following job description to see if you are interested in and qualified to complete this task within the specified deadline.</p>
						
						<p><b>Project overview:</b> <%=@project_overview.html_safe%></p>
						<p><b>Task description:</b> <%=@task_description.html_safe%></p>
						
						<p>
							<b>Input(s):</b> For this task, you will receive the following input(s): <%=@inputs%>. 
						
						<%if !@input_link.empty?%>
							You can access the input(s) at the following link: <a href="<%=@input_link%>"><%=@input_link%></a>
						</p>
						<%end%>
						
						<p><b>Deliverable(s):</b> <%=@outputs%></p>
						
						<%if !@output_description.empty?%>
						<p><b>Deliverable information:</b> <%=@output_description%></p>
						<%end%>
						
						<p><b>Deadline:</b>You will have <%=@task_duration%> to finish this task </p>
						
						
						<p> If you are available and ready to start working on this task within 30 minutes, reply to this email with your name in the content of the email as well as a confirmation that you can start working with 30 minutes from when you are hired.</p> 
						<p> If you are hired, you will receive a task acceptance email notifying you that you have been assigned to the <%=@task_name%> task. Upon receiving the task acceptance email, you must confirm that you have started working by accepting the contract on oDesk and signing in to Foundry via the link sent to you. If you are not hired, you will be notified for future opportunities.</p>
							
						<p>
							Best, <br />
							Stanford HCI Research Team
						</p>
					
				</div>
	
          	  
			</div><!-- /form-panel -->
		</div><!-- /span7 -->
  		  			
  	</div><!-- /row -->
</div>