<div class="col-lg-5" id="panels-right-sidebar">
                 
	               <div class="form-panel">   
	                  <h4 class="mb"><i class="fa fa-angle-right"></i> Panels <i class="icon-remove" onclick="hideRightPanels()" style="float:right; padding-right: 10px;"></i></h4>
	                  
	                  <div class="form-group">
	                  	<h5>Select a panel:</h5>
					  	<%= select_tag "panels_right", options_for_select(@panels), {:prompt => "All Panels", :class => 'col-lg-12'}%>
	                  </div>
                      
                      
                      <div class="form-group">
	                      <div id="filter_results">		
							<p id="panel_results">
								<b><em>Emails for all workers this panel:</em></b>

								<br />
	
								<% @emails = @fw.uniq.join(", ")%>
								<%= @emails %>
								
								<br />
						
								<button class="btn btn-default" id="copy-emails-button" data-clipboard-text="<%=@emails%>" onclick = "copyEmailsToForm()" title="Select all emails">Select all emails</button>

								<%= javascript_include_tag "ZeroClipboard" %>
								<script> ZeroClipboard.config( { swfPath: "/assets/ZeroClipboard.swf" } ); </script>

								<br />
								<br />
							</p>
					</div>
                      
                      
					<div class="form-group">
						<h4><b>Or Select Specific Workers:</b></h4>
							<table class="table table-bordered">
							    <thead>
									<th>Name</th>
									<th>Email</th>
									<th>Panel</th>
									<th><i class="icon-ok"></i></th>
							    </thead>
							    <tbody>
									<% @workers.each do |worker| %>
									    <tr>
									        <td><%= worker.name %></td>
									        <td><%= worker.email %></td>
									        <td><%= worker.panel %></td>
									        <td><%= check_box_tag("workers[#{worker.id}]", worker.id) %></td>
									        
									    </tr>
									<% end %>
							    </tbody>
						</table>
					</div>
                      
                      
					<div class="form-group">
						<p id="worker_results">
							<%=render :partial => "workers/filter_workers_emails"%>
						</p>
					</div> <!--end form-group -->
					
					<%= javascript_include_tag "/assets/authoring/panels" %>
					
					</div><!--end filter results -->
     
                  </div> <!-- end form-panel -->
          		</div>   <!--end col-lg-5 --> 