<div id="right-sidebar-wrapper">
	<h3 class="row span12" id="panel-right-header"> Panels </h3>
	
	<div id="right-sidebar-content">
		
	   <!--  <p> Test </p> -->
	   <h4 class="row span12" style="width: 400px;"><b>Select a Panel:</b></h4> 
	
	<br />
	
	<p class="row span12" style="width:400px;">
		<%= select_tag "panels_right", options_for_select(@panels), {:prompt => "All Panels"}%>
	
	</p>
	
	<div id="filter_results" class="row span12" style="width:400px;">
		<% #render :partial => "workers/filter_workers" %>
		
		
		<p id="panel_results" style="width:400px;">
			<b><em>Emails for all workers this panel:</em></b>

			<br />
	
			<% @emails = @fw.uniq.join(", ")%>
	
			<%= @emails %>
			
			<br />
	
			<button class="btn btn-default" id="copy-emails-button" data-clipboard-text="<%=@emails%>" onclick = "copyEmailsToForm()" title="Select all emails">Select all emails</button>
	

			<!-- <button class="btn btn-default" id="copy-button" data-clipboard-text="<%=@emails%>" title="Click to copy emails to clipboard.">Copy Emails to Clipboard!</button> -->

			<%= javascript_include_tag "ZeroClipboard" %>
			<script> ZeroClipboard.config( { swfPath: "/assets/ZeroClipboard.swf" } ); </script>

			<br />
			<br />
		</p>

<h4><b>Or Select Specific Workers:</b></h4>

<div style="width:400px;">
	<table class="table table-bordered table-striped">
	    <thead>
			<th>Name</th>
			<th>Email</th>
			<th>Panel</th>
			<th>Select</th>
	    </thead>
	    <tbody>
			<% @workers.each do |worker| %>
			    <tr>
			        <td><%= worker.name %></td>
			        <td><%= worker.email %></td>
			        <td><%= worker.panel %></td>
			        <td><%= check_box_tag("workers[#{worker.id}]", worker.id) %></td>
			        
			    </tr>
			<% end %>
	    </tbody>
	</table>
</div>
				
<p id="worker_results" style="width:400px;">
	
	<%=render :partial => "workers/filter_workers_emails"%>
</p>


<%= javascript_include_tag "/assets/authoring/panels" %>

	</div> <! -- end filter results -->
	</div> <! -- end right-sidebar-content -->
</div>