<div class="row-fluid">
	
	<h3><i class="fa fa-angle-right"></i> Hiring Emails</h3>
          	
  	<!-- INPUT MESSAGES -->
  	<div class="row-fluid">
  		<div id="email-form-div" class="form-panel span12">
  			<!-- <div class="form-panel"> -->
  			<div>
		  	  	<div class="row-fluid">
		  	  		<div class="span7">
		  	  			<p style="font-size:18px;"><i class="fa fa-angle-right"></i> Task Acceptance Email Sent!</p>
					</div>
				</div> <!-- end div class row -->
				
				<div class="row-fluid span11">
					<p>
						Congratulations!  You have been hired for the <%=@task_member%> role to work on the <%=@task_name%> task as part of the <%=@flash_team_name%> project. As stated in the job description, you will have <b><em><%=@task_duration%></em></b> to complete this task and must start working within 30 minutes of receiving this email. Please make sure to track your working hours on oDesk. For your reference, we have included the job description below:
					</p>
						
						<p><b>Project overview:</b> <%=@project_overview.html_safe%></p>
						<p><b>Task description:</b> <%=@task_description.html_safe%></p>
						
						<p>
							<b>Input(s):</b> For this task, you will receive the following input(s): <%=@all_inputs%> 
						
						<%if !@input_link.empty?%>
						You can access the input(s) at the following link: <a href="<%=@input_link%>"><%=@input_link%></a>
						</p>
						<%end%>
						
						<p><b>Deliverable(s):</b> <%=@outputs%></p>
						
						<%if !@output_description.empty?%>
						<p><b>Deliverable information:</b> <%=@output_description%></p>
						<%end%>
						
						<p>
							<b>How to start:</b> We are asking you to use our platform, Foundry, to keep track of your progress and submit your work.</p>  Click the following URL to sign up for this project on Foundry: <a href="<%=@foundry_url%>"><%=@foundry_url%></a> 
						</p>
						
						<p>
								After you sign up, you will receive a unique link to the project, which you should use throughout the project. If you are still unfamiliar with Foundry, you can access the Foundry tour by clicking the "Start Foundry Tour" button on the top left of the project page.  Feel free to contact us if you have any remaining questions.
							</p>  
						
							<p>
								To confirm acceptance of this task and to start working, please accept the oDesk contract, log in to Foundry and start your task. It is also good practice to announce yourself in the chat to let others know you have started working on your task.  							
							</p>
							
							<p>
								Thank you for involvement in this project and we look forward to receiving your work!
							</p>

						<p>
							Best, <br />
							Stanford HCI Research Team
						</p>
					
				</div>
	
          	  
			</div><!-- /form-panel -->
		</div><!-- /span7 -->
  		  			
  	</div><!-- /row -->
</div>