<div class="row-fluid">
	
	<h3><i class="fa fa-angle-right"></i> Hiring Emails</h3>
          	
  	<!-- INPUT MESSAGES -->
  	<div class="row-fluid">
  		<div id="email-form-div" class="form-panel span8">
  			<div>
		  	  	<div class="row-fluid">
		  	  		<div class="span7">
		  	  			<p class="mb" style="font-size:18px;"><i class="fa fa-angle-right"></i> Task Unavailable Email </p>
					</div>
					
					<div class="span5">
						<p class="mb"><a id="hidePanelsLink" style="font-size:14px; float: right;" onclick="hideRightPanels()">Hide Panels</a></p>
					</div>
				</div> <!-- end div class row -->
	
          	  <%= form_tag({action: "send_task_rejection", method: "post", name: "taskOverviewForm"},{:class => "hiring-email-form"}) do %>
                      <div class="row-fluid span12">
                          <%= label_tag(:sender_email, "From:", :class => 'span2') %>
						  <div class="span10">
						  	<%= text_field_tag(:sender_email, "", :placeholder => "stanfordhci.odesk@gmail.com", :class => 'span11') %>
							</div>
                      </div>
                      
                      <div class="row-fluid span12">
                          <%= label_tag(:recipient_email, "To:", :class => 'span2') %>
                          
						  <div class="span10">
						  	<%= text_area_tag(:recipient_email, "", :placeholder => "Enter recipient email addresses by selecting their emails from the panel or typing them manually (emails must be separated by a comma)", :rows =>3, :class => 'span11', :required => true ) %>
							</div>
						
                      </div>
                      
                       <div class="row-fluid span12">
                          <%= label_tag(:subject, "Subject:", :class => 'span2') %>
						  <div class="span10">
						  	<%= text_field_tag(:subject, @task_rej_email_subject, :class => 'span11', :required => true) %>
							</div>
                      </div>

					
		                              
		            <div class="row-fluid span12">
						<div class="span11">							  
							<p>
								Thank you for applying for the 
	
								<select name="task_member" required="required">
									<option value="">-- SELECT MEMBER ROLE --</option>
									<%@task_members.each do |task_member|%>
										<%=options_for_select([[task_member['role'], task_member['role']]])%>
									<%end%>
								</select> 
	
								role to work on the <%=text_field_tag(:task_name,  @flash_team_event['title'], :class => 'span4', :required => true) %> task as part of the <em><%=@flash_team_json['title']%></em> project.
	
								Unfortunately, the job is no longer available. As you know, we use an on- demand hiring process that assigns the job to the first person who claims it. However, we have more upcoming projects and we will keep you posted as other job opportunities become available.
							</p>
			
								<p>
									If you don't want to be informed about our future job opportunities, please reply to this email with your name in the content.
								</p>
								
					<p>
						Best, <br />
						Stanford HCI Research Team
						<br /><br />
					</p>
										 
					<%= button_tag("Send Task Unvailable Email", :type => 'submit', :class => 'btn btn-primary') %>
		 	 
					</div>
					</div>
				<% end %>
			</div><!-- /form-panel -->
 		</div><!-- /span7 -->
  		
  	
 		<%= render :partial => "task_hiring_right_sidebar" %>  
  			
  	</div><!-- /row -->
</div>