<div class="row-fluid">
	
	<h3><i class="fa fa-angle-right"></i> Hiring Emails</h3>
          	
  	<!-- INPUT MESSAGES -->
  	<div class="row-fluid">
  		<div id="email-form-div" class="form-panel span8">
  			<div>
		  	  	<div class="row-fluid">
		  	  		<div class="span7">
		  	  			<p class="mb" style="font-size:18px;"><i class="fa fa-angle-right"></i> Task Available Email </p>
					</div>
					
					<div class="span5">
						<p class="mb"><a id="hidePanelsLink" style="font-size:14px; float: right;" onclick="hideRightPanels()">Hide Panels</a></p>
					</div>
				</div> <!-- end div class row -->
	
          	  <%= form_tag({action: "send_task_available", method: "post", name: "taskOverviewForm"},{:class => "hiring-email-form"}) do %>
                      <div class="row-fluid span12">
                          <%= label_tag(:sender_email, "From:", :class => 'span2') %>
						  <div class="span10">
						  	<%= text_field_tag(:sender_email, "", :placeholder => "stanfordhci.odesk@gmail.com", :class => 'span11') %>
							</div>
                      </div>
                      
                      <div class="row-fluid span12">
                          <%= label_tag(:recipient_email, "To:", :class => 'span2') %>
                          
						  <div class="span10">
						  	<%= text_area_tag(:recipient_email, "", :placeholder => "Enter recipient email addresses by selecting their emails from the panel or typing them manually (emails must be separated by a comma)", :rows =>3, :class => 'span11', :required => true ) %>
							</div>
						
                      </div>
                      
                       <div class="row-fluid span12">
                          <%= label_tag(:subject, "Subject:", :class => 'span2') %>
						  <div class="span10">
						  	<%= text_field_tag(:subject, @task_avail_email_subject, :class => 'span11', :required => true) %>
							</div>
                      </div>

					<div class="row-fluid span12">
						  <div class="span11">
							  <p>
								This is an email from the Stanford HCI Group notifying you that a job requiring a 

								<select name="task_member" required="required">
									<option value="">-- SELECT MEMBER ROLE --</option>
									<%@task_members.each do |task_member|%>
										<%=options_for_select([[task_member['role'], task_member['role']]])%>
									<%end%>
								</select> 
								
								for the <%=text_field_tag(:task_name,  @flash_team_event['title'], :class => 'span4') %> task for the <em><%=@flash_team_json['title']%></em> project 
								has become available. Please take a look at the following job description to see if you are interested in and qualified to complete this task within 
								the specified deadline.
							</p>	
						</div>
					</div>
                      
		            <div class="row-fluid span12">
						<div class="span11">
							<%= label_tag(:project_overview, "Project Overview:") %>
							<%= text_area_tag(:project_overview, @flash_team_json['projectoverview'], :class => 'span12', :rows =>5, :required => true) %>
						</div>
					</div>
		                              
		            <div class="row-fluid span12">
						<div class="span11">			
							<%= label_tag(:task_description, "Task Description:") %>
							<%= text_area_tag(:task_description, @flash_team_event['notes'], :class => 'span12', :rows =>5, :required => true) %>
						</div>
					</div>
		                              
		            <div class="row-fluid span12">
						<div class="span11">				
							<p>
								<%= label_tag(:inputs, "Input(s):") %>
								For this task, you will receive the following input(s):
								<%= text_field_tag(:inputs, @flash_team_event['inputs'], :class => 'span6') %>. You can access the input(s) at the following link:
								<%= text_field_tag(:input_link, "", :placeholder => "OPTIONAL: [INSERT LINK TO INPUT]", :class => 'span12') %>
							</p>
						</div>
					</div>
		                              
		            <div class="row-fluid span12">
						<div class="span11">
							<p>
								<%= label_tag(:outputs, "Deliverable(s):") %>
								<%= text_field_tag(:outputs, @flash_team_event['outputs'], :class => 'span12') %>
							</p>
							<p>
								<%=label_tag(:output_description, "Deliverable Information (optional):") %>
								<%= text_area_tag(:output_description, "", :placeholder => "OPTIONAL: [INSERT BRIEF DESCRIPTION OF OUTPUT]", :class => 'span12', :rows =>3) %>
							</p>
						</div>
					</div>
		                              
		            <div class="row-fluid span12">
						<div class="span11">
							<p>
								<%= label_tag(:task_duration, "Task Duration:") %>
								You will have <%= text_field_tag(:task_duration, @task_duration, :class => 'span5', :required => true)%> to finish this task.
							</p>
						</div>
					</div>
		                              
		            <div class="row-fluid span12">
						<div class="span11">							  
							<p>
								As stated in our previous email, we will be asking you to use our platform, Foundry, to keep track of your progress and submit your work.  If you have not already done so, please familiarize yourself with Foundry by visiting 
								<a href="http://bit.ly/foundryexample">http://bit.ly/foundryexample</a> and clicking the "Start Foundry Tour" button on the top left of the page.  Feel free to contact us if you have any questions regarding the use of Foundry.
							</p>
							
							<br />
					
							<p>
								If you are hired, you must start working on the task within 30 minutes. You should confirm that you have started working on the task by accepting the contract on oDesk and signing in to Foundry via the link that will be sent to you.
							</p>
					
					<br />
					
					<p>
						If you are ready to start working on this task, reply to this email with your name in the content of the email as well as a confirmation that you can start within 30 minutes from when you are hired. If you are hired, 
						you will be assigned to the <%=@task_name%> task.  We will hire you as soon as possible if the task is still available. If not, you will be notified for future opportunities.
					</p>
								
					<p>
						Best, <br />
						Stanford HCI Research Team
						<br /><br />
					</p>
										 
					<%= button_tag("Send Task Available Email", :type => 'submit', :class => 'btn btn-primary') %>
		 	 
					</div>
					</div>
				<% end %>
			</div><!-- /form-panel -->
 		</div><!-- /span7 -->
  		
  	
 		<%= render :partial => "task_hiring_right_sidebar" %>  
  			
  	</div><!-- /row -->
</div>