<html lang="en">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		
		
    <div id="wrapper">
	     <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <h5 style="padding-top: 15px; margin-left:10px; padding-left: 10px;">Project: <%=@flash_team_json["title"]%></h5>
              	  	     
                   <li class="mt">
                   
                   <%= link_to raw('<i class="fa fa-th"></i><span>Edit Panels</span>'), controller: "flash_teams", action: "panels" %> 			
                          
                  </li>
                  

                  <li class="sub-menu">
                      <a href="javascript:;" >
	                      <i class="fa fa-envelope-o"></i>
                          <!-- <i class="fa fa-desktop"></i> -->
                          <span>Hiring Emails</span>
                      </a>
                      <ul class="sub">
                          <li><%=link_to "Task Available", controller: "flash_teams", action: "hire_form"%> </li>
                          <li><%=link_to "Task Acceptance", controller: "flash_teams", action: "task_acceptance"%></li>
                          <li><%=link_to "Task Unavailable", controller: "flash_teams", action: "task_rejection"%></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <!-- <i class="fa fa-cogs"></i> -->
                          <i class="fa fa-tasks"></i>
                          <span>View Other Tasks</span>
                      </a>
                      <ul class="sub">
                          <%i = 0%>
                          <%@flash_team_json['events'].each do |event|%>
							<li><%=link_to event["title"], :controller => "flash_teams", :action => "hire_form", :event_id => i %></li>
							<%i+= 1%>
						<% end %>
                      </ul>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
        				
        