<input type="hidden" id="authenticity_token" value="<%= form_authenticity_token %>"/>
<input type="hidden" id="flash_team_id" value="<%= @flash_team.id %>"/>
<input type="hidden" id="flash_team_name" value="<%= @flash_team.name%>"/>
<input type="hidden" id="uniq" value=""/>

<%= tag :meta, :name=> 'events_json', :content=> @events_json %>

	<!--Main Layout-->
	<div class="container-fluid" style="min-width: 1300px; background: #e3e3e3;">
       
	<% if @in_author_view %>
	
     <div class="row-fluid" id="foundry-header">
	     <div class="span3 ft-buttons" id="ft-buttons-left">
			 	<input type="button" class="btn btn-default" id="backBtn" value="Back" onclick="window.location='<%=flash_teams_path%>';"/>
			 	<input type="button" class="btn btn-default" id="tourBtn" value="Start Foundry Tour"/>
		  </div>
	     
	     <div class="span7">
			 <h4 class="text-center">FOUNDRY</h4>
	     </div>
	     
	     <div class="span2 ft-buttons" id="ft-buttons-right">
				<input type="button" class="btn btn-success" id="flashTeamStartBtn" value="Start Team"/>
		        <input type="button" class="btn btn-danger" id="flashTeamEndBtn" value="End Team" style="display: none"/>
	     </div> 
     </div>

     	<!-- render partial with confirm action alert --> 
		<%= render :partial => "confirm_action" %>
     
     <div class="row-fluid" style="margin-top: 40px; margin-bottom: 5px;">
     
     <h4>
     	<span id="ft-name"><%= @flash_team.name.upcase%></span>
     	
     	<!-- Button to trigger modal -->
	 	<a href="#projectOverviewModal" data-toggle="modal" style="font-size: 24px; padding-left: 5px;"><i class="icon-info-sign" style="vertical-align: middle;"></i></a>
	 </h4>
	 	
	 	<%= render :partial => "project_overview_modal" %>
     
     </div>
	    
	    <div class="row-fluid">
	        <div class="span3">
	         <% if @author_runtime %>
	            
	            <div id="project-status-container" class="well">
	            	<!-- Render project status container --> 
					<%= render :partial => "project_status" %>                 
	            </div> 

	            <div id="chat-box-container" class="well" >
	            	<!-- render partial with chat box --> 
					<%= render :partial => "chatbox" %>
	            </div>
	
	           <!--Add a file picker for the user to start the upload process -->
	           <!--
				   <input type="file" id="filePicker" />
	            <input type="button" id="authorizeButton" style="display: none" value="Authorize" />
				-->				
								
	           <div id="member-container" class="well" style="overflow-y:scroll;">
	            	<!-- Render member roles container --> 
					<%= render :partial => "roles" %>    
	           </div>
	           
	           <div id="project-overview-container" class="well" style="overflow-y:scroll;">
					<!-- Render project overview container --> 
					<%= render :partial => "project_overview" %> 
				</div>

            
			<% else %>
      
            	<div id="project-status-container" class="well" style="display: none;">
             		<!-- Render project status container --> 
					<%= render :partial => "project_status" %>               
				</div>   

				<div id="member-container" class="well" style="overflow-y:scroll;">
					<!-- Render member roles container --> 
					<%= render :partial => "roles" %> 
				</div>
            
				<div id="chat-box-container" class="well" >
	            	<!-- render partial with chat box --> 
					<%= render :partial => "chatbox" %>
	            </div>
	            
	            <div id="project-overview-container" class="well" style="overflow-y:scroll;">
					<!-- Render project overview container --> 
					<%= render :partial => "project_overview" %> 
				</div>      
            
				<div id="search-events-container" class="well" style="overflow-y:scroll;">
					<!-- render partial with event library --> 
					<%= render :partial => "event_library" %>
				</div>

			<% end %> <!-- end if in author runtime conditional --> 
            
            <div id="diagram-container" class="well" style="display:none;" >
                	<!-- render partial with team diagram --> 
					<%= render :partial => "teamdiagram" %>
            </div>
		</div> <!-- end of sidebar (e.g., class="span3") -->

		<div class="span9"> <!--Body Content-->
	    	<div id="timeline-container" class="well" style="overflow-x:scroll; overflow-y:scroll;">
	            	<!-- render partial with timeline --> 
					<%= render :partial => "timeline" %>
	        </div>
		</div> <!-- end of body (e.g., class="span9") -->
	
	</div> <!-- end of div class="row-fluid" -->
   
<% end %> <!--end if in author view conditional--> 
       
<% if  @in_expert_view %>

     <div class="row-fluid" id="foundry-header"> 
     	<div class="span2 ft-buttons" id="ft-buttons-left">
		 	<input type="button" class="btn btn-default" id="expertTourBtn" value="Start Foundry Tour"/>
	  	</div>  	 
		 <div class="span10">
			 <h4 class="text-center">FOUNDRY</h4>
	     </div>  
     </div>
     
     <div class="row-fluid" style="margin-top: 40px; margin-bottom: 5px;">
     
     <h4>
     	<span id="ft-name"><%= @flash_team.name.upcase%></span>
     	
     	<!-- Button to trigger modal -->
	 	<a href="#projectOverviewModal" data-toggle="modal" style="font-size: 24px; padding-left: 5px;"><i class="icon-info-sign" style="vertical-align: middle;"></i></a>
	 </h4>
	 
	 	<%= render :partial => "project_overview_modal" %>
     
     </div>
     
    	<!-- <h3> <% @flash_team.name %> </h3> -->
		<script> var flash_team_name="<%= @flash_team.name %>";</script>
    
		<div class="row-fluid">
        	<div class="span3"> <!--Sidebar content-->
				<!-- <div id = "title-container" class="well">
					<form name="titleForm" id="title_form">
						<input type = "text" id="flashTeamTitle" placeholder="New Flash Team" style="font-size:25px; height:40px">
					</form>
				</div> -->	
            
            <div id="project-status-container" class="well">
             	<!-- Render project status container --> 
				<%= render :partial => "project_status" %>               
                
				<div><h4>Welcome <%= @user_name %>!</h4></div>
                
	            <!--<h4> Your Task Starts In 1:20 </h4> -->
				<!-- <button class="btn" type="button" onclick="searchEvents()" id="projectDetailsButton">Project Details</button>
	                 <svg width="2450" height="570">
	                        <rect width="200" height="40" x="0" y="0" fill="white" style="stroke: #000000;"></rect>
	                        <rect width="10" height="40" x="0" y="0" fill="green" class="project_status"></rect>
	                    </svg>-->             
                
                <div id="status-bar-container" >
                   <!-- <h4> Your Task Is </h4> -->
                </div>
               
            </div> <!-- end of project-status-container div -->
                   
            <div id="chat-box-container" class="well" >
	            	<!-- render partial with chat box --> 
					<%= render :partial => "chatbox" %>
	        </div>
	        
	        <div id="project-overview-container" class="well" style="overflow-y:scroll;">
					<!-- Render project overview container --> 
					<%= render :partial => "project_overview" %> 
			</div>
			
			<% if @member_type == "pc" %>
				<div id="member-container" class="well" style="overflow-y:scroll;">
					<!-- Render member roles container --> 
					<%= render :partial => "roles" %> 
				</div>
			<% end %>
			
        </div> <!-- end of sidebar (e.g., class="span3") -->

        <div class="span9"> <!--Body Content-->
           <div id="timeline-container" class="well" style="overflow-x:scroll; overflow-y:scroll;">
	            <!-- render partial with timeline --> 
				<%= render :partial => "timeline" %>
				<%= render :partial => "confirm_action" %>
	        </div>
		</div> <!-- end of body (e.g., class="span9") -->    
		
	</div><!-- end of div class="row-fluid" -->

<% end %> <!--end if in expert view conditional--> 
<div id="titleLength" style="visibility: hidden; "><span></span></div>
</div> <!-- end of div class="container-fluid" -->


<%= javascript_include_tag "authoring/gdrive" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "https://apis.google.com/js/client.js?onload=handleClientLoad" %>
<%= javascript_include_tag "https://apis.google.com/js/api.js"%>


