<html lang="en">
	<head>
		
		<meta charset="utf-8">
	</head>
	<body>
		
		
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" >
                    <a href="#">Task Title: <%=@task_title%></a>
                </li>
                               
                <!--
<li>
                    <a href="#" data-toggle="collapse" data-target="#iterations"><i class="fa fa-fw fa-arrows-v"></i> Iterations <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="iterations" class="collapse in" style="">
                        <li>
                            <a href="#">Iteration 1</a>
                        </li>
                        <li>
                            <a href="#">Iteration 2</a>
                        </li>
                        <li>
                            <a href="#">Current</a>
                        </li>
                    </ul>
                </li>
-->

               <li>
                    <a href="#" data-toggle="collapse" data-target="#hiring"><i class="fa fa-fw fa-arrows-v"></i> Hiring <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="hiring" class="collapse in" style="">
                        <li>
                            <a href="#">Task Available</a>
                        </li>
                        <li>
                            <a href="#">Task Acceptance</a>
                        </li>
                        <li>
                            <a href="#">Task Rejection</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <!--
<h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
-->
						
						<h1>Project/Task Information</h1>
						
						<h2>Task Title: <%=@flash_team_event["title"]%> </h2>
						
						<p> Project Description: <%=@flash_team_json["projectoverview"]%> </p>
						
						<p>Task Description: <%=@flash_team_event["description"]%> </p>
						
						<p>Task Duration: <%=@flash_team_event["duration"]%> minutes </p>
						
						<p>Task Start Hour: <%=@flash_team_event["startHr"]%></p>
						<p>Task Start Min: <%=@flash_team_event["startMin"]%></p>
						
						<p>Task Inputs: <%=@flash_team_event["inputs"]%></p>
						<p>Task Outputs: <%=@flash_team_event["outputs"]%></p>
						
						<p>Task Members: <%=@task_members%></p>

	                  
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

   


	</body>
</html>

  <%= javascript_include_tag "/assets/jquery" %>
  <%= javascript_include_tag "/assets/jquery_ujs" %>
  <%= javascript_include_tag "bootstrap/bootstrap.min" %>
  <%= javascript_include_tag "bootstrap-editable.min" %>
  <%= javascript_include_tag "bootstrap-tour.min" %>