<%= render :partial => "normal_header" %>
<div class="container-fluid">  
  <div class="row-fluid" style="padding-top: 10px;"> 
    <p>
      <div class="span2"></div>
      <div class="span4" style="padding-top: 5px;">
        <span style="font-size: 30px;"><b>Your Flash Teams</b></span>
      </div>
      <div class="span2"></div>
      <div class="span4" style="margin-left:0px;">
        <input type="button" class="bluelink" id="new_team_button" value="New Flash Team" onclick="window.location='<%=new_flash_team_path%>';"/>
      </div>
    </p>
  </div>
  <br/>

  <% @flash_teams.each do |flash_team| %>
        <% 
          if !flash_team.status.nil?

            status = JSON.parse(flash_team.status) 

            flash_team_json = status['flash_teams_json']

            if !flash_team_json['projectoverview'].nil? 
              project_overview = flash_team_json['projectoverview'] 
              team_status = flash_team_json['flash_team_in_progress']
            else
              project_overview = "No project overview has been added."
            end

            team_status = flash_team_json['status']

            if team_status == true
              team_status = "In Progress"
              team_status_class = "text-info"
            else
              team_status = "Not Started"
              team_status_class = "muted"
            end

          else
            project_overview = "No project overview has been added."
            team_status = "Not Started"
            team_status_class = "muted"
          end 
        %>

        <div class="row-fluid">
          <p>
            <div class="span2" style="height:40px"></div>
            <div class="span4" style="height:40px">
              <div class="row-fluid" style="height:40px">
                <span style="font-size:18px;">#<%= flash_team.id %></span>
                <span style="font-size:18px;"><b><%= link_to flash_team.name, edit_flash_team_path(flash_team) %></b></span>
                <span class=" <%= team_status_class %>"> (<%= team_status %>) </span>
              </div>
              <div class="row-fluid" style="height:40px">
                <p>
                  <span><%= raw project_overview %></span>
                </p>
              </div>
            </div>
            <div class="span3 text-right" style="height:40px">
              <%= link_to 'Duplicate', duplicate_flash_team_path(flash_team) %>
              |
              <%= link_to 'Delete', flash_team_path(flash_team), 
              :method => :delete, :confirm => 'Are you sure you want to delete this team?' %>
            </div>
            <div class="span3" style="height:40px"></div>
          </p>
        </div>
  <% end %>
</div>

  <%= javascript_include_tag "/assets/jquery" %>
  <%= javascript_include_tag "/assets/jquery_ujs" %>
  <%= javascript_include_tag "bootstrap/bootstrap.min" %>
  <%= javascript_include_tag "bootstrap-editable.min" %>
  <%= javascript_include_tag "bootstrap-tour.min" %>

<script>
  $(document).ready(function() {
    $('.name').editable({
      placement: "right",
    });
  });
</script>
