<div class="container-fluid" style="padding: 5px 20px;">

<!-- Warning for invalid login --> 
<% if flash[:notice] %>
	<div class="flash_notice">
		<p><%= flash[:notice] %></p>
	</div>
<% end %>


<meta charset="utf-8">
<div class="row-fluid">
  <h2 class="span9">Flash Teams Library</h2>
 
  <p class="span3">

  
    <!-- <br /> -->

    <span class="span12 text-right"> <%= link_to 'New Flash Team', new_flash_team_path, { :class=>"btn btn-primary" } %> </span>

    <!-- <span class="span2"> <%# link_to 'Logout', users_logout_path %> </span> -->

  </p>
</div>

<div class="row-fluid">
  <p> 
    <h4><span class="span11">Welcome, <%= @user.username %>!</span></h4>
    <span class="span1 text-right"> <%= link_to 'Logout', users_logout_path %> </span>
  </p>
</div>

<!-- <div class="row"> -->
  <% @flash_teams.each do |flash_team| %>
  <div class="row-fluid" style="border: 1px black solid; padding: 5px; margin-top: 5px;">
    <p>
    <span class="span9">[#<%= flash_team.id %>]  

    <a href="#" class="name" data-type="text" data-pk="<%= flash_team.id %>" data-url="/flash_teams/rename" data-title="Enter name"><%= flash_team.name %></a></span>

    <!-- <br /> -->

    <% 

      if !flash_team.status.nil?

        status = JSON.parse(flash_team.status) 

        flash_team_json = status['flash_teams_json']

        if !flash_team_json['projectoverview'].nil? 
          project_overview = flash_team_json['projectoverview'] 
          team_status = flash_team_json['flash_team_in_progress']
        else
          project_overview = "No project overview has been added."
        end

        team_status = flash_team_json['status']

        if team_status == true
          team_status = "In Progress"
          team_status_class = "text-info"
        else
          team_status = "Not Started"
          team_status_class = "muted"
        end

      else
        project_overview = "No project overview has been added."
        team_status = "Not Started"
        team_status_class = "muted"
      end 
    %>

    <span class="span2 <%= team_status_class %>"><%= team_status %></span> 
    <span class="span1 text-right"><%= link_to '', flash_team_path(flash_team), :method => :delete, :confirm => 'Are you sure?', :class =>'icon-remove' %></span>
    
    <!-- <br /> -->
    </p>
    <p>
    <span class="span9"><%= project_overview %></span> 

    
    <!-- <br /> -->

    <span class="span3"><%= link_to 'Edit', edit_flash_team_path(flash_team) %>

    <%= link_to 'Delete', flash_team_path(flash_team), :method => :delete, :confirm => 'Are you sure?' %>

    <%= link_to 'Duplicate', duplicate_flash_team_path(flash_team) %></span>


    </p>
  </div>

  <% end %>
<!-- </div> -->

<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
      <th></th>
    </tr>
  </thead>

  <tbody> 
  <% @flash_teams.each do |flash_team| %>
    <tr>
      <td><%= flash_team.id %></td>
      <td><a href="#" class="name" data-type="text" data-pk="<%= flash_team.id %>" data-url="/flash_teams/rename" data-title="Enter name"><%= flash_team.name %></a></td>
      <td><%= link_to 'Edit', edit_flash_team_path(flash_team) %></td>
  	  <td><%= link_to 'Delete', flash_team_path(flash_team), :method => :delete, :confirm => 'Are you sure?' %></td>
      <td><%= link_to 'Duplicate', duplicate_flash_team_path(flash_team) %></td>
    </tr>
  <% end %>
  </tbody>
</table> -->
</div>

  <%= javascript_include_tag "/assets/jquery" %>
  <%= javascript_include_tag "/assets/jquery_ujs" %>
  <%= javascript_include_tag "bootstrap/bootstrap.min" %>
  <%= javascript_include_tag "bootstrap-editable.min" %>
  <%= javascript_include_tag "bootstrap-tour.min" %>

<script>
  $(document).ready(function() {
    $('.name').editable({
      placement: "right"
    });
  });
</script>
