<!-- render partial with confirm action alert --> 
<%= render :partial => "task_hiring_sidebar" %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            

                
                <div class="row">
                    <div class="col-lg-12">

<h2>Email Sent!</h2>

<p>Thank you for applying for the <em><%=@task_member%></em> role to work on the <em><%=@task_name%></em> task as part of
   the <b><em><%=@flash_team_name%></em></b> project. Unfortunately, the job is no longer available. As you know, we use an on-demand 
   hiring process that assigns the job to the first person who claims it. However, we have more upcoming projects and we will 
   keep you posted as other job opportunities become available.</p>
   
   <p>If you don't want to be informed about our future job opportunities, please reply to this email with your name in the content.</p>
   
   <p>
	   Best, <br />
	   Stanford HCI Research Team
   </p>

</div>
</div>


            
            
               
            </div> <!-- #container-fluid -->
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

   


	</body>
</html>

  <%= javascript_include_tag "/assets/jquery" %>
  <%= javascript_include_tag "/assets/jquery_ujs" %>
  <%= javascript_include_tag "bootstrap/bootstrap.min" %>
  <%= javascript_include_tag "bootstrap-editable.min" %>
  <%= javascript_include_tag "bootstrap-tour.min" %>

