<html lang="en">
	<head>
		
		<meta charset="utf-8">
	</head>
	<body>
		
		
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" >
                    <a href="../task_portal">Task Portal</a>
                </li>
                               
                <!--
<li>
                    <a href="#" data-toggle="collapse" data-target="#iterations"><i class="fa fa-fw fa-arrows-v"></i> Iterations <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="iterations" class="collapse in" style="">
                        <li>
                            <a href="#">Iteration 1</a>
                        </li>
                        <li>
                            <a href="#">Iteration 2</a>
                        </li>
                        <li>
                            <a href="#">Current</a>
                        </li>
                    </ul>
                </li>
-->

               <li>
                    <a href="#" data-toggle="collapse" data-target="#hiring"><i class="fa fa-fw fa-arrows-v"></i> Hiring <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="hiring" class="collapse in" style="">
                        <li>
                            <a href="../hire_form">Task Available</a>
                        </li>
                        <li>
                            <a href="#">Task Acceptance</a>
                        </li>
                        <li>
                            <a href="task_rejection">Task Rejection</a>
                        </li>
                    </ul>
                </li>
                
                <li class="sidebar-brand" style="margin-top: 20px;">
                    <a href="#" style="color: white;">Task Information</a>
                 </li>

                 <div style="margin-left: 25px; color: white; text-decoration:none">
					 <p>Project: <%=@flash_team_json["title"]%></p>
					 <p>Task Title: <%=@flash_team_event["title"]%></p>
					 <p>Project Description: <%=@flash_team_json["projectoverview"]%> </p>
						
					 <p>Task Description: <%=@flash_team_event["description"]%> </p>
						
					 <p>Task Duration: <%=@flash_team_event["duration"]%> minutes </p>
						
					 <p>Task Start Hour: <%=@flash_team_event["startHr"]%></p>
					 <p>Task Start Min: <%=@flash_team_event["startMin"]%></p>
					
					 <p>Task Inputs: <%=@flash_team_event["inputs"]%></p>
					 <p>Task Outputs: <%=@flash_team_event["outputs"]%></p>
					
					 <p>Task Members: <%=@task_members%></p>

				</div>
				
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
	
					<h2>Task Rejection Email</h2><br />
										
					<%= form_tag({action: "send_task_rejection", method: "post", name: "taskOverviewForm"},{:style => "display:inline"}) do %>
						<%= label_tag(:sender_email, "Your Email:", :style => "display:inline") %>
						<%= text_field_tag(:sender_email) %> <br />
						<%= label_tag(:recipient_email, "Recipient Email:", :style => "display:inline") %>
						<%= text_field_tag(:recipient_email) %> <br />
						<%= label_tag(:subject, "Subject:", :style => "display:inline") %>
						<%= text_field_tag(:subject, @task_rej_email_subject, :class => 'span9') %> <br />
						<%= text_area_tag(:message, @task_rej_email_content, :class => 'input-block-level span10', :rows =>10) %> 
<!-- 						<% submit_tag("Send Task Rejection Email", :class => 'btn btn-primary') %> -->
						<%= button_tag("Send Task Rejection Email", :type => 'submit', :class => 'btn btn-primary') %>
						<%= button_tag("Save Draft", :class => 'btn') %>
					<% end %>
					
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

   


	</body>
</html>

  <%= javascript_include_tag "/assets/jquery" %>
  <%= javascript_include_tag "/assets/jquery_ujs" %>
  <%= javascript_include_tag "bootstrap/bootstrap.min" %>
  <%= javascript_include_tag "bootstrap-editable.min" %>
  <%= javascript_include_tag "bootstrap-tour.min" %>