<!-- render partial with confirm action alert --> 
<%= render :partial => "task_hiring_sidebar" %>


        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
	
					<h2>Task Rejection Email</h2><br />
										
					<%= form_tag({action: "send_task_rejection", method: "post", name: "taskOverviewForm"},{:style => "display:inline"}) do %>
						<%= label_tag(:sender_email, "Your Email:", :class => 'span2', :style => "display:inline") %>
						<%= text_field_tag(:sender_email, "", :class => 'span5') %> <br />
						<%= label_tag(:recipient_email, "Recipient Email:", :class => 'span2', :style => "display:inline") %>
						<%= text_field_tag(:recipient_email, "", :class => 'span5') %> <br />
						<%= label_tag(:subject, "Subject:" , :class => 'span2', :style => "display:inline") %>
						<%= text_field_tag(:subject, @task_rej_email_subject, :class => 'span8') %> <br />
						<%= text_area_tag(:message, @task_rej_email_content, :class => 'span10', :rows =>10) %> <br />
<!-- 						<% submit_tag("Send Task Rejection Email", :class => 'btn btn-primary') %> -->
						<%= button_tag("Send Task Rejection Email", :type => 'submit', :class => 'btn btn-primary') %>
						<!-- <% button_tag("Save Draft", :class => 'btn') %> -->
					<% end %>
					
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

   


	</body>
</html>

  <%= javascript_include_tag "/assets/jquery" %>
  <%= javascript_include_tag "/assets/jquery_ujs" %>
  <%= javascript_include_tag "bootstrap/bootstrap.min" %>
  <%= javascript_include_tag "bootstrap-editable.min" %>
  <%= javascript_include_tag "bootstrap-tour.min" %>