<%= stylesheet_link_tag "auth"%>

<!-- Warning for invalid login --> 
<% if flash[:notice] %>
	<div class="error">
		<%= flash[:notice] %>
	</div>
<% end %>

<div class="auth_header">FOUNDRY</div>

<div class="center">
	<%= form_tag("/users/post_login", :method => "post") do %>
	   <table class="inputs">
	   		<tr>
	   			<td>
	   				<%= text_field_tag :login, "", class: 'inputbox', placeholder: 'Username' %> <br />
	   			</td>
	   		</tr>
	   		<tr>
	   			<td>
	   				<%= password_field_tag :password, "", class: 'inputbox', placeholder: 'Password' %> <br />
	   			</td>
	   		</tr>
	   		<tr>
	            <td>
	                <%= submit_tag 'Login', :class => 'bluelink' %>
	            </td>
	        </tr>
	   </table>
	<% end %>
	<br/>
	<br/>
	<input type="button" class="link register" value="Don't have an account? Register" onclick="window.location='/users/new'"/>
</div>