<%= stylesheet_link_tag "auth"%>

<% if @user.errors.any? %>
	<% @user.errors.full_messages.each do |msg| %>
	    <div class="error"><%= msg %></div>
	<% end %>
<% end %>

<div class="auth_header">FOUNDRY</div>

<div class="center">	
     <%= form_for(@user, :method => :post, :url => {:action => :create}) do |f| %>
        <table class="inputs">
            <tr>
                <td>
                    <%= f.text_field :username, :placeholder => 'Username', :class => 'inputbox' %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= f.password_field :password, :placeholder => 'Password', :class => 'inputbox' %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation', :class => 'inputbox' %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= f.submit 'Register', :class => 'bluelink' %>
                </td>
            </tr>
          </table>
     <% end %> <!-- end form -->
    <br/>
    <br/>
     <input type="button" class="link" value="Already have an account? Login" onclick="window.location='/users/login'"/>
</div>