  <!-- Modal -->
  <div class="modal fade" id="worker-<%= worker.id %>-notes" tabindex="-1" role="dialog" aria-labelledby="worker-<%= worker.id %>-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 class="modal-title" id="worker-<%= worker.id %>-label">Edit Worker</h4>
        </div>
        <div class="modal-body">
                  
			<% session.delete(:return_to) %>
			<% session[:return_to] ||= request.original_url%>
			
			<div class="row span6">
			<%= form_for(worker) do |f| %>
			    <%= f.label :name, "Name: ", :style =>"display: inline; font-weight: bold; padding-right: 5px;" %>
			    <%= f.text_field :name %> <br />
			
			    <%= f.label :email, "Email: ", :style =>"display: inline; font-weight: bold; padding-right: 5px;" %>
			    <%= f.text_field :email %> <br />
			    
			    <%= f.label :skype_username, "Skype Username: ", :style =>"display: inline; font-weight: bold; padding-right: 5px;" %>
			    <%= f.text_field :skype_username %> <br />
			    
			    <%= f.label :odesk_url, "oDesk Profile URL: ", :style =>"display: inline; font-weight: bold; padding-right: 5px;" %>
			    <%= f.text_field :odesk_url %> <br />
			    
			    <%= f.label :timezone_utc, "Timezone (in UTC): ", :style =>"display: inline; font-weight: bold; padding-right: 5px;" %>
			    <%= f.text_field :timezone_utc %> <br />
			
				<%= f.label :additional_info, "Anything else you want us to know? ", :style =>"display: inline; font-weight: bold; padding-right: 5px;" %>
			    <%= f.text_area :additional_info %><br />
			
			    <%= f.label :panel, "Panel Password: ", :style =>"display: inline; font-weight: bold; padding-right: 5px;" %>
			    <%= f.text_field :panel %><br />
			</div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Update", :class => "btn btn-success" %>
			<% end %>
        </div>
      </div>
    </div>
  </div>  
