  <!-- Modal -->
  <div class="modal fade" id="worker-<%= worker.id %>-notes" tabindex="-1" role="dialog" aria-labelledby="worker-<%= worker.id %>-label" aria-hidden="true" style="width: 750px; margin-left: -375px;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
<!--         	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
			<h3 class="modal-title" id="worker-<%= worker.id %>-label">Edit Worker</h4>
        </div>
        <div class="modal-body">
                  
			
			
			<div class="row span10">
			<%= form_for(worker) do |f| %>
			    <%= f.label :name, "Name: ", :style =>"display: inline; font-weight: bold; padding-right: 5px;" %>
			    <%= f.text_field :name %> 
			    
			     <%= f.label :panel, "Panel Password: ", :style =>"display: inline; font-weight: bold; padding-right: 5px;" %>
			    <%= f.text_field :panel %><br />
			
			    <%= f.label :email, "Email: ", :style =>"display: inline; font-weight: bold; padding-right: 5px;" %>
			    <%= f.text_field :email %>
			    
			    <%= f.label :odesk_url, "oDesk Profile URL: ", :style =>"display: inline; font-weight: bold; padding-right: 5px;" %>
			    <%= f.text_field :odesk_url %> <br />

			    <%= f.label :skype_username, "Skype: ", :style =>"display: inline; font-weight: bold; padding-right: 5px;" %>
			    <%= f.text_field :skype_username %>
			      
			    <%= f.label :timezone_utc, "Timezone (UTC): ", :style =>"display: inline; font-weight: bold; padding-right: 5px;" %>
			    <%= f.text_field :timezone_utc %> <br />
			
				<%= f.label :additional_info, "Anything else you want us to know? ", :style =>"display: inline; font-weight: bold; padding-right: 5px;" %>
			    <%= f.text_area :additional_info %><br />
			  
			</div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Update", :class => "btn btn-success" %>
			<% end %>
        </div>
      </div>
    </div>
  </div>  
