
<div id="panel_results">
	<p>

	

	<b><em>Emails for all workers this panel (<%= @fw.uniq.length%> total):</em></b>

	<br />
	<!-- <% @fw.to_s.gsub('"', '')%> -->
	
	<% @emails = @fw.uniq.join(", ")%>
	
	<%= @emails %>
	<br />
	
	<button class="btn btn-default" id="copy-button" data-clipboard-text="<%=@emails%>" title="Click to copy emails to clipboard.">Copy Emails to Clipboard</button>

	<%= javascript_include_tag "ZeroClipboard" %>
	<script> ZeroClipboard.config( { swfPath: "/assets/ZeroClipboard.swf" } ); </script>

	<br />
	<br />
	</p>

<h4><b>Or Select Specific Workers:</b></h4>
<div>
	<!-- <table class="table table-bordered table-striped" style="word-break: break-word;"> -->
	<!-- <table class="table table-bordered table-striped" style="table-layout: fixed;
    word-wrap: break-word; overflow: auto"> -->
	<table class="table table-bordered table-striped" style="overflow: auto">
	    <thead>
			<th><i class="icon-ok"></i></th>
			<th>Name</th>
			<th>Email</th>
			<th>Skype Username</th>
			<th>Profile URL</th>
			<th>Hourly Rate</th>
			<!-- <th>Timezone in UTC/GMT</th> -->
			<th>Timezone in UTC</th>
			<th>Worker Local Time</th>
			<th>Additional Info</th>
			<th>Panel</th>
			<th>Edit / Delete</th>
	    </thead>
	    
	    <% t = Time.current %>
	    
	    <tbody>
			<% @workers.each do |worker| %>
			    <tr>
			        <td><%= check_box_tag("workers[#{worker.id}]", worker.id) %></td>
			        <td><%= worker.name %></td>
			        <td><%= worker.email %></td>
			        <td><%= worker.skype_username %></td>
			        <!-- <td><a href="<%= worker.odesk_url %>">URL</a></td> -->
			        <!-- <td><%= worker.odesk_url %></td> -->
			        <td><a href="<%= worker.odesk_url %>" target="_blank"><%= worker.odesk_url %></a></td>
			        <td><%= worker.hourly_rate %></td>
			        <td><%= worker.timezone_utc %></td>
			        <td><%= t.in_time_zone(worker.timezone_utc) %></td>
			        <!--  <td><%# I18n.l t.to_time.in_time_zone(worker.timezone_utc), format: :long %></td> -->
			        <!-- <td><%# ActiveSupport::TimeZone[worker.timezone_utc] %></td> -->
			        <td><%= worker.additional_info %></td>
			        <td><%= worker.panel %></td>
					<td><a class="icon-edit" data-toggle="modal" href="#modal-window" data-remote-target="#modal-window .modal-body" data-load-remote="<%= edit_worker_path(worker) %> #panelregform"></a>
			        | <a class="icon-remove" data-method="delete" href="<%=worker_path(worker)%>/destroy"></a>
			        <%# link_to "", worker, :action => :destroy, :method => :delete, :confirm => 'Are you sure?', :class =>'icon-remove' %> </td> 
			        
			    </tr>
			<% end %>
	    </tbody>
	</table>
</div>

<p id="worker_results">
	<%=render :partial => "workers/filter_workers_emails"%>
</p>


</div>

			<div class="modal hide fade" id="modal-window" style="width: 560px; margin-left: -230px;">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				    <h3>Edit Worker</h3>
				  </div>
				  <div class="modal-body">
				      <p> Loading... </p>
				  </div>
				</div>
				
				


<%= javascript_include_tag "/assets/authoring/panels" %>






