<p id="panel_results">
	<b><em>Emails for all workers this panel:</em></b>

	<br />

	<%= @fw.to_s.gsub('"', '')%>
	
	<br />

</p>



<div>
	<table class="table table-bordered">
	    <thead>
			<th>Name</th>
			<th>Email</th>
			<th>Skype Username</th>
			<th>oDesk Profile URL</th>
			<th>Timezone in UTC</th>
			<th>Additional Info</th>
			<th>Panel</th>
			<th>Select</th>
			<th>Edit/Delete</th>
	    </thead>
	    <tbody>
			<% @workers.each do |worker| %>
			    <tr>
			        <td><%= worker.name %></td>
			        <td><%= worker.email %></td>
			        <td><%= worker.skype_username %></td>
			        <td><%= worker.odesk_url %></td>
			        <td><%= worker.timezone_utc %></td>
			        <td><%= worker.additional_info %></td>
			        <td><%= worker.panel %></td>
			        <td><%= check_box_tag("workers[#{worker.id}]", worker.id) %></td>
			        <!-- <td><% link_to "Edit", edit_worker_path(worker) %> </td> -->
			        <td><%= link_to "Edit", '', :data => {:toggle => "modal", :target => "#worker-#{worker.id}-notes" } %>
			        | <%= link_to "Delete", controller: "workers", action: "destroy", id: worker.id %> </td> <!--TODO: Add delete confirm alert -->
<!-- 					<td> <% link_to "Test", '', :onclick => "test('#{worker.name}')" %> </td> -->
			    </tr>
				
				<!--Render the edit modal --> 
				<%=render :partial => "workers/edit_content_modal", locals: {worker: worker}%>
			    
			<% end %>
	    </tbody>
	</table>
</div>

<p id="worker_results">
	<%=render :partial => "workers/filter_workers_emails"%>
</p>

<%= javascript_include_tag "/assets/authoring/panels" %>





