
	<b><em>Emails for selected workers:</em></b>

	<br />

	<!-- <% @abc.to_s.gsub('"', '')%> -->
	
	<%if !@abc.nil? %>
		<% @filt_emails = @abc.uniq.join(", ") %>
		<%= @filt_emails %>
		<br />
				
		<%if !@filt_emails.empty?%>
		
		<button class="btn btn-default" id="copy-button-filt" data-clipboard-text="<%=@filt_emails%>" title="Click to copy emails to clipboard.">Copy Emails to Clipboard</button>
		<%end%>
	<%end%>

	<br />

<%= javascript_include_tag "/assets/jquery" %>
<%= javascript_include_tag "bootstrap/bootstrap.min" %>
<%= javascript_include_tag "bootstrap-editable.min" %>
<%= javascript_include_tag "bootstrap-tour.min" %>

<!-- <% javascript_include_tag "/assets/authoring/panels" %> -->

<script>
	
	var client_filt = new ZeroClipboard( document.getElementById("copy-button-filt") );
	
	client_filt.on( "ready", function( readyEvent ) {
	  //alert( "ZeroClipboard SWF is ready!" );
	
	  client_filt.on( "aftercopy", function( event ) {
	    alert("Copied emails to clipboard: " + event.data["text/plain"] );
	  } );
	} );
</script>
	