<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>Foundry Hiring Portal</title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag    "application"%>
    <%= stylesheet_link_tag    "panel-reg"%>
    <%= stylesheet_link_tag    "font-awesome"%>


  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
	  <header class="header black-bg text-center">

            <!--logo start-->
            <a href="#" class="logo"><b>FOUNDRY PANEL REGISTRATION</b></a>
            
       </header>
      <!--header end-->
      
          
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          	          	
          		<%= yield %>
          	
		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="footer">
          <div class="text-center">
              2014 - Stanford HCI Group
              <!--
<a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
-->
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
	<%= javascript_include_tag "/assets/jquery" %>
	<%= javascript_include_tag "/assets/jquery_ujs" %>
	<%= javascript_include_tag "bootstrap/bootstrap.min" %>
	<%= javascript_include_tag "/assets/authoring/training.js" %>
	


  </body>
</html>
