</body>

</html>

<%= javascript_include_tag "/assets/jquery" %>
<!-- <% javascript_include_tag "/assets/jquery_ujs" %> -->
<%= javascript_include_tag "bootstrap/bootstrap.min" %>
<%= javascript_include_tag "bootstrap-editable.min" %>
<%= javascript_include_tag "bootstrap-tour-standalonet.min" %>
<%= javascript_include_tag "data-turbolinks-track" => true %>
<%= javascript_include_tag "/authoring/training.js" %>


