<!DOCTYPE html>
<html>
<head>
  <title>Foundry</title>
  <%= render "flash_teams/globals" %> 
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
