<!DOCTYPE html>
<html>
<head>
  <title>Foundry</title>
  <%= render "flash_teams/globals" %> 
  
  <!-- bring in typekit -->
  <script src="//use.typekit.net/jiy3ujb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "data-turbolinks-track" => true %>
  <!--<script type="text/javascript" src="http://cdn.icecomm.io/icecomm.js"></script>-->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
