<%= stylesheet_link_tag "auth"%>

<% if flash.alert %>
   <div> <%= flash.alert %> </div>
<% end %>
<% if flash.notice %>
   <div> <%= flash.notice %> </div>
<% end %>

<div class="auth_header">FOUNDRY</div>

<div class="center">
	<%= form_tag("/members/#{@id}/register", method: "post") do %>
	   <%= hidden_field_tag 'uniq', @uniq %>
       <table class="inputs">
	   		<tr>
	   			<td>
	   				<%= text_field_tag :name, "", class: 'inputbox', placeholder: 'Full Name (e.g. John Smith)' %> <br />
	   			</td>
	   		</tr>
	   		<tr>
	   			<td>
	   				<%= text_field_tag :email, "", class: 'inputbox', placeholder: 'Email (e.g. john@stanford.edu)' %> <br />
	   			</td>
	   		</tr>
	   		<tr>
	            <td>
	                <%= submit_tag 'Submit', :class => 'bluelink' %>
	            </td>
	        </tr>
	   </table>
	<% end %>
</div>